<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Home</title>
 </head>
 <body>
 <div class="col-6">
    <h3>Listagem de produtos</h3>
    <a href="{% url 'client_new' %}">Novo Produto</a>
        <ul class="list-group">
            {% for product in product %}
        <li class="list-group-item">
            <a href="{% url 'product_update' product.id %}"> {{product.name }} </a>
            <a href="{% url 'product_delete' product.id %}" class="trash-item">
            Deletar </a>
        </li>
            {% endfor %}

 </ul>
 </body>
 </html>