<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Novo Produto</title>
 </head>
 <body>
    <h3>Novo Produto</h3>
 <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
 <button type="submit" class="btn btn-primary">Salvar</button>
 </form>
 </body>
</html>