<!DOCTYPE html>
 <html lang="en">
 <head>
 <meta charset="UTF-8">
     <title>Title</title>
 </head>
 <body>
     <h1>Tem certeza que deseja deletar {{ client.first_name }} </h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
 <button type="submit" class="btn btn-danger">Delete</button>
 </form>

 </body>
 </html>